build/
debug/
dist/
cmake-build-*/
nu/

EventRecorderStub.scvd
PLLJ*
JLink*
*.uvgui*
*.qws
*.plg
*.log
*.bak
*.bsf
*.dat
*.dep
*.done
*.hex
*.html
*.json
*.mat
*.0
*.1
*.2
*.3
*.nu
*.swp
*.patch
*.pyc
*.rpt
*.sld
*.smsg
*.summary
tags
